<div class="row">
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
        <a href="{% url 'home' %}" class="nav-link main-logo-link"><h2 class="logo-font my-0 text-green">Minecraft Economics</h2></a>
    </div>
    <div class="col-12 col-lg-8 my-auto py-1 py-lg-0 text-center text-lg-left">

      {% if request.user.is_authenticated %}
      <ul class="list-inline list-unstyled text-center text-lg-right my-0">

        <li class="list-inline-item dropdown">
          <button class="btn btn-secondary bg-green" id="invoices" data-bs-toggle="dropdown" aria-expanded="false">
            Invoices
          </button>
          <ul class="dropdown-menu" aria-labelledby="invoices">
            <li><a class="dropdown-item" href="#">New Invoice</a></li>
            <li><a class="dropdown-item" href="#">All Invoices</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">New Work Order</a></li>
            <li><a class="dropdown-item" href="#">All Work Orders</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">New Retail Sale</a></li>
            <li><a class="dropdown-item" href="#">Create Bulk Retail Sale</a></li>
            <li><a class="dropdown-item" href="#">All Retail Sales</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">New Construction Invoice</a></li>
            <li><a class="dropdown-item" href="#">All Construction Invoices</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="#">
                Incoming Doc By Company <span> > </span>
              </a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a class="dropdown-item" href="#">All Documents</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                {% for c in all_companies_with_stock %}
                  <li>
                    <a id="{{ c.registration_number }}" class="dropdown-item" href="#">{{ c.display_name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="#">
                Outcoming Doc By Company <span> > </span>
              </a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a class="dropdown-item" href="#">All Documents</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                {% for c in all_companies_with_stock %}
                  <li>
                    <a id="{{ c.registration_number }}" class="dropdown-item" href="#">{{ c.display_name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </li>

        <li class="list-inline-item dropdown">
          <button class="btn btn-secondary bg-green" id="dropdownMenuButton"
          data-mdb-toggle="dropdown" aria-expanded="false">
            Products
          </button>
          <ul class="dropdown-menu" aria-labelledby="products">
            <li><a class="dropdown-item" href="#">Add New Category</a></li>
            <li><a class="dropdown-item" href="#">Add New Product</a></li>
            <li><a class="dropdown-item" href="#">All Products</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="#">
                Handling Units <span> > </span>
              </a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a class="dropdown-item" href="#">All Handling Units</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                {% for c in all_companies_with_stock %}
                  <li>
                    <a id="{{ c.registration_number }}" class="dropdown-item" href="#">{{ c.display_name }}</a>
                  </li>
                {% endfor %}
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="#">Merging HU</a>
                </li>
              </ul>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Recepies</a></li>
          </ul>
        </li>

        <li class="list-inline-item dropdown">
          <button class="btn btn-secondary bg-green" id="bank" data-bs-toggle="dropdown" aria-expanded="false">
            Bank Account
          </button>
          <ul class="dropdown-menu" aria-labelledby="bank">
            <li><a class="dropdown-item" href="#">New Transaction</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Current Balance</a></li>
            <li><a class="dropdown-item" href="#">Bank Statement</a></li>
          </ul>
        </li>
        <li class="list-inline-item dropdown">
          <button class="btn btn-secondary bg-green" id="properties" data-bs-toggle="dropdown" aria-expanded="false">
            Properties
          </button>
          <ul class="dropdown-menu" aria-labelledby="properties">
            <li><a class="dropdown-item" href="#">Show Map</a></li>
            <li><a class="dropdown-item" href="#">Real Estate</a></li>
            <li><a class="dropdown-item" href="#">Machines</a></li>
            <li><a class="dropdown-item" href="#">Equipment</a></li>
          </ul>
        </li>
        
        {% if request.user.is_superuser %}
        <li class="list-inline-item dropdown">
            <button class="btn btn-secondary bg-green" id="properties" data-bs-toggle="dropdown" aria-expanded="false">
              Manager Options
            </button>
            <ul class="dropdown-menu" aria-labelledby="properties">
              <li><a class="dropdown-item" href="#">General Settings</a></li>
              <li><a class="dropdown-item" href="#">All Companies</a></li>
              <li><a class="dropdown-item" href="#">Goverment Functions</a></li>
              <li><a class="dropdown-item" href="#">Map</a></li>
            </ul>
          </li>
        {% endif %}
        <li class="list-inline-item">
            <a class="btn btn-secondary bg-green" href="{% url 'account_logout' %}">Log Out</a>
        </li>
      </ul>

      {% else %}
      <ul class="list-inline list-unstyled text-center text-lg-right my-0">
        <li class="list-inline-item">
          <a class="btn btn-secondary bg-green" href="{% url 'account_login' %}">Log In</a>
        </li>
        <li class="list-inline-item btn btn-secondary">Create Company</li>
      </ul>
      {% endif %}
  </div>