<div class="row fs-6">
    <div class="col-3 my-2 fs-4">
        <p>Today: {{ today }}</p>
    </div>
    {% if today < valid_settings.valid_till %}
        <div class="col-2 my-2">
            <p>{{ valid_settings.valid_from }} - {{ valid_settings.valid_till }}</p>
        </div>
    {% else %}
        <div class="col-2 my-2">
            <p class="text-red fw-bold">{{ valid_settings.valid_from }} - {{ valid_settings.valid_till }}</p>
        </div>
    {% endif %}
    <div class="col-2 my-2">
        <p>Allowed Transactions per day: {{ valid_settings.acions_per_day }}</p>
    </div>
    <div class="col-2 my-2">
        <p>Last Action: {{ last_action_date }}</p>
    </div>
    {% if actions_left < 2 %}
    <div class="col-3 my-2">
        <p class="text-red">Actions left: <span>{{ actions_left }}</span></p>
    </div>
    {% else %}
    <div class="col-3 my-2">
        <p>Actions left: {{ actions_left }}</p>
    </div>
    {% endif %}
</div>